{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block style_link %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">{% endblock style_link %}
{% block body %}

<section id="header" class="text-center">
    <div class="container-fluid text-center mb-4 he">
        <img class="im" height="500px" width="400px" src="{% static 'images/logo03.png' %}" alt="">
        <h1 class="pt-5 bungee-spice-regular">Find Your Perfect Match Here<br></h1>

    </div>
    <a class="btn btn-success cp mt-0 mb-5" href="/my_profile">Update your Profile</a>
</section>

<section id="about" class="pt-5 text-center">
    <h1 class="mb-4">About Us</h1>
    <div class="container p-4">
        <p>Welcome to Wedding, your trusted partner in finding meaningful relationships and lifelong companionship. We understand that marriage is one of the most important decisions in a person’s life, and finding the right partner who complements your values, dreams, and lifestyle is essential. Our platform is designed to provide a safe, transparent, and user-friendly experience, ensuring that you connect with individuals who share similar goals and aspirations.

At Wedding, we go beyond conventional matchmaking by integrating advanced technology with a personalized approach. Our intelligent matching algorithms are crafted to consider multiple compatibility factors, helping you discover individuals who align with your preferences. Whether you are looking for someone who shares your cultural background, educational values, or professional aspirations, our diverse database offers a wide range of profiles to explore.

Our journey is driven by a commitment to empower individuals in their search for a soulmate. We prioritize privacy and security, giving you control over your information and interactions. With a dedicated customer support team and a variety of resources on relationship guidance, we are here to assist you at every step. Join our community today and take the first step toward a beautiful and fulfilling relationship. Together, let’s make your dream of finding a life partner a reality.</p>
        <button class="btn btn-primary">Know more</button>
    </div>
</section>
<section id="contact">
    <h1 class="mb-5 text-center" style="color:gray;font-style:italic;">Contact Us</h1>
    <div class="container d-flex h-75 gap-3 pb-5">
        <div class="container Contact_us text-black text-center p-4">
            <form method="post">
                {% csrf_token%}
                <div class="mb-3" style="border:1px solid black;">
                    {{form.name}}
                </div>
                <div class="mb-3" style="border:1px solid black;">
                    {{form.email}}
                </div>
                <button type="submit" class="btn btn-dark w-50">Submit</button>
            </form>
        </div>
    </div>
</section>
<style>
    .im {
        mix-blend-mode: darken;
    }
    body{
    background-image:url("https://img.freepik.com/free-photo/affectionate-indian-couple-celebrating-propose-day-together_23-2151111009.jpg?t=st=1730684364~exp=1730687964~hmac=58b6d4836b2d745df894e80e4128c67dd0eb0cb18d67bea2a60bd99da5482390&w=2000")
    }
    #about{
    color:white;
    background-color:black;
    opacity:0.5;
    font-style:italic;
    }
    #header{
    color:green;
    font-style:italic;
    }
    #contact{
    color:black;
    background-color:black;
    opacity:0.9;
    }
   .bungee-spice-regular {
   font-family: "Bungee Spice", serif;
   font-weight: 400;
   font-style: normal;
}

}


</style>
<script>
    document.getElementsByTagName('input')[1].placeholder = "Enter your name"
    document.getElementsByTagName('input')[2].placeholder = "Enter email"
    document.getElementsByTagName('input')[3].placeholder = "Enter subject"
    document.getElementsByTagName('textarea')[0].placeholder = "Type something..."
</script>

{% endblock body %}